body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: capitalize;
}

header{
    background-image: url("https://images.unsplash.com/photo-1485841890310-6a055c88698a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80 ");
    height:100vh;
    background-size:cover;
    background-position: bottom;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 7vw;
    font-weight: 400;
    margin-bottom:0px;
}

h2{
    font-size: 3vw;
    font-weight: 400;
    margin-bottom:3vh;
}

button{
    display:inline-block;
    line-height: 7vw;
    padding: 0.3vh 0.5vh;
    -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    background: #fff;
    border:none;
    border-radius: 0.5vw;
    font-size: 2vw;
    font-weight: 100;
    text-transform: uppercase;
    color:rgb(92, 92, 221);
    outline:none;
    padding:1vw;
}
button:hover{
    color:white;
    background-color: rgb(120, 120, 184);
}

main{
    background-color: #f9f3f9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h2{
    color:rgb(92, 92, 221);
    font-size: 5vw;
    font-weight: 300;
    margin-top: 2vw;
}

main h3{
    text-transform: uppercase;
    color:rgb(73, 113, 99);
    font-weight: 400;
    font-size: 2vw;
}

#cards{
    background-color: white;
    max-width: 90vw;
    display: flex;
    border-radius: 2vw;
    margin-top: 2vw;
}

#cards img{
    width:20vw;
}

#cards section {
    padding: 4vw;
}

#cards p{
    text-transform: none;
    color: #525f7f;
    line-height:2em;
    font-size: 1.5vw;
}

#cards a{
    text-decoration: none;
    font-weight: 400;
    color: rgb(104, 104, 224);
    font-size: 1.5vw;
}

#cards section:nth-of-type(2){
    border-left: 1vw solid #f9f3f9;
}


@media screen and (max-width:700px) {
    header{
    height:50vh;
    font-size: 0.8 vw;
    }
}

@media screen and (max-width:500px) {
    header{
    font-size: 0.5 vw;
    }
}

@media screen and (max-width:900px) {
    #cards{
        flex-direction: column;
    }
    #cards section:nth-of-type(2){
        border-top: 1vw solid #f9f3f9;
        border-left: none;
    }
}


